<div class="modal modal-md active">
  <a href="/menu/edit/{{rId}}" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container createItemModal text-center text-bold">
    <!-- modal structure here -->
    {{#if errors}}
        {{#each errors}}
            <div class="toast toast-dark mb-1">
                {{this}}
            </div>
        {{/each}}
    {{/if}}
    <div class="createItemTitle bg-primary">Edit the item: </div>
    <form class="form-horizontal createItemForm"  method="POST" action="/menu/edit/{{rId}}/item/{{id}}">
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label createItemLabel" for="itemName">Name of item: </label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="itemName" name="itemName" placeholder="item name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label createItemLabel" for="itemDesc">Item description: </label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="itemDesc" name="itemDesc" placeholder="item description">
            </div>
        </div>
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label createItemLabel" for="itemPrice">Item price:</label>
            </div>
            <div class="col-9 col-sm-12">
                <input class="form-input" type="text" id="itemPrice" name="itemPrice" placeholder="item price">
            </div>
        </div>
        <input type="submit" id="" value="Submit edit!" class="createItemBtn btn btn-primary">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    </div>
</div>
