
<div class="hero bg-primary introduction">
    <div class="hero-body">
            <div class="columns container">
                <div class="column col-8 col-ml-auto restaurantPics">
                    <div class="columns pr-2">
                        <img src="/images/mcdonalds.jpg" class="img-fit-cover col-4  col-gapless heroPic column">
                        <img src="/images/burgerking.png" class="img-fit-cover col-4 col-gapless heroPic column">
                        <img src="/images/ichamochi.jpg" class="img-fit-cover col-4 col-gapless heroPic column">
                    </div>
                </div>
                <div class="column col-4 col-mx-auto introTextbox">
                    <div class="bigIntroText text-bold">Plenty Menus</div>
                    <div class="text-center" pt-2>Plenty menus is a service for the people, ensuring a smooth experience while finding your local restaurants menu.</div> 
                </div>
        </div>
    </div>
</div>

<div class="container pt-2">
    <div class="columns">
        {{#each restaurants}}
            <div class="panel col-5 col-sm-11 col-md-11 col-mx-auto menus">
                <div class="panel-header">
                    <div class="panel-title text-center text-uppercase text-large menusHead text-bold">{{this.name}}</div>
                    <div class="menusDesc">{{this.desc}}</div>
                </div>
                <div class="divider myDivider"></div>
                <div class="panel-body">
                    {{#each categories}}
                        <div class="tile catTile">
                            <div class="tile-content">
                                <div class="tile-title catTitle text-center text-bold text-large">{{this.name}}</div>
                                <div class="catDesc">{{this.desc}}</div>
                                <div class="category">
                                    {{#each items}}
                                    <div class="item">
                                        <div class="itemName">{{this.name}}</div>
                                        <div class="price">{{this.price}}:-</div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="panel-footer">
                    <div class="text-center p-2">This restaurant has a customer satisfaction of {{this.rating}}/100</div>
                    <a href="/menu/{{this.id}}" class="btn btn-primary btn-lg visit">Visit this menu!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
