{{#if errors.length}}
    {{#each errors}}
        <div class="toast toast-dark mb-1">
            {{this}}
        </div>
    {{/each}}

{{else}}
<div class="container bg-primary mt-2">
        <div class="menuTitle text-center text-strong">{{name}}
            <small class="label label-rounded ml-1 text-small">{{rating}}/100</small>
            <br>
            {{#if canEdit}}
                <a href="/menu/edit/{{id}}" class="btn btn-primary">Edit this menu</a>
            {{/if}}
        </div>
        <div class="menuBody columns">
            {{#each categories}}
                <div class="col-5 col-sm-12 col-mx-auto bg-dark menuCat">
                    <div class="catTitle text-center tooltip p-1" data-tooltip="{{this.desc}}">{{this.name}}
                        <div class="divider"></div>
                    </div>
                    {{#each this.items}}
                    <dl class="p-1">
                        <dt class="itemTitle">{{this.name}} <div style="float:right;">{{this.price}}:-</div></dt>
                        <dd class="p-2">{{this.desc}}</dd>
                    </dl>
                    {{/each}}
                </div>
            {{/each}}
        </div>
</div>
{{/if}}

