<div class="container pt-2">
    <div class="columns">
        {{#each restaurants}}
            <div class="panel col-5 col-sm-12 col-mx-auto menus">
                <div class="panel-header">
                    <div class="panel-title text-center menusHead text-bold">{{this.name}}</div>
                </div>
                <div class="divider"></div>
                <div class="panel-body">
                    {{#each categories}}
                        <div class="tile">
                            <div class="tile-content">
                                <div class="tile-title catTitle text-center text-large">{{this.name}}</div>
                                <div class="category">
                                    {{#each items}}
                                    <div class="item">
                                        <div class="itemName">{{this.name}}</div>
                                        <div class="price">{{this.price}}:-</div>
                                        <div style="clear: both;"></div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="panel-footer">
                    <a href="/menu/{{this.id}}" class="btn btn-primary btn-lg visit">Visit this menu!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<!--
<div class="container">
    <div class="columns">
        {{#each restaurants}}
            <div class="panel col-5 col-mx-auto menus">
                <div class="panel-header">
                    <div class="panel-title text-center menusHead">{{this.name}}<div>
                    <p>[{{this.rating}}/100]</p>
                </div>
                <div class="panel-body">
                    {{#each categories}}
                        <div class="tile">
                            <div class="tile-content">
                                <p class="tile-title">{{this.name}}</p>
                                <p class="tile-subtitle">{{this.desc}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="panel-footer">
                    test
                </div>
            </div>
            </div>
        {{/each}}
    </div>
</div> -->